<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/images/flower-icon.png" />
    <link rel="stylesheet" type="text/css" href="/vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">
    <section class="section secondary-color-bg">
        <div class="centered-container">
            <h1 class="decorated-title font-secondary main-color">
                <span class="main-color-emphasized">Item</span>
                Information
            </h1>
            <div class="separator"></div>
        </div>
        <div class="container">
            <div class="item-view">
                <img alt="<% item['name'] %>" class="item-view-image" src="<%= item['imageurl'] %>" />
                <div class="item-view-text">
                    <div class="item-view-text-title font-secondary main-color-emphasized"><%= item['name'] %></div>
                    <hr>
                    <div class="item-view-text-property main-color">
                        Price:
                        <span class="item-view-text-value"> <%= item['price'] %> kn</span>
                    </div>
                    <div class="item-view-text-property main-color">
                        Available colors:
                        <span class="item-view-text-value"> <%= item['colors'] %></span>
                    </div>
                    <div class="item-view-text-property main-color">
                        Category:
                        <span class="item-view-text-value"> <%= item['category']['name'] %></span>
                    </div>
                    <div class="item-view-text-property main-color">
                        Seasonal:
                        <span class="item-view-text-value"> <%= item['category']['seasonal'] %></span>
                    </div>

                    <div class="item-view-text-desc font-secondary main-color">
                        <%= item['category']['description'] %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section secondary-color-bg">
        <div class="centered-container">
            <h1 class="decorated-title font-secondary main-color">
                <span class="main-color-emphasized">Item</span>
                Suppliers
            </h1>
            <div class="separator"></div>
        </div>
        <div class="expert_supplier_container">
            <% if(item['suppliers'].length === 0 ) { %>
                <h2 class="font-secondary main-color">
                    No suppliers
                </h2>
            <% } %>

            <% for(const supplier of item['suppliers']) { %>
                <section class="section secondary-color-bg expert_supplier_container">
                    <h3 class="decorated-title font-secondary main-color-emphasized">
                        <%= supplier['name'] %>
                        <a href="/item/<%= item['id'] %>/editsupplier/<%= supplier['id'] %>">
                            <img class="icon_add_edit" src="/images/pencil.png" alt="edit supplier">
                        </a>
                    </h3>

                    <div class="item-view-text-property main-color">
                        E-mail:
                        <span class="item-view-text-value"><%= supplier['email'] %></span>
                    </div>
                    <div class="item-view-text-property main-color">
                        Country:
                        <span class="item-view-text-value"><%= supplier['country'] %></span>
                    </div>
                    <div class="item-view-text-property main-color">
                        County:j
                        <span class="item-view-text-value"><%= supplier['county'] %></span>
                    </div>
                    <div class="item-view-text-property main-color">
                        Supplier since:
                        <span class="item-view-text-value"><%= supplier['since'] %></span>
                    </div>
                    <hr>
                </section>
            <% } %>
        </div>
    </section>
</main>

<%- include(`partials/footer`); %>

</body>

</html>
